.collection{
    background: url('../images/Rectangle.jpg') ;
    background-size: cover;
    padding: 70px 0;
   
    
    &-inner{
        max-width: 540px;
    }
    &-top{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        h2{
            color: #F4F6F5;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 40px */
        }
    }
    p{
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 27px */
        margin: 0 0 15px 0;
    }
    .text-two{
        margin: 0 0 60px 0;
    }
    &-btn{
        display: inline-block;
        color: #2C2D35;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 20px 60px;
        background: #EEDB6D;
    }
    
    
}

@media (max-width:690px){
    .collection{
        &-top{
            align-items: normal;
            gap: 0 10px;
            h2{
                font-size: 24px;
                
            }
        }

        p{
            font-size: 16px;
        }

        &-logo{
            width: 50px;
            height: 50px;
            
            
        }
    }
}